*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/* Navbar Style */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 77px 20px 77px ;
    background-color: #EEEEEE;
    border-bottom: 1px solid #F15B22;
}

.nav-container{
    display: flex;
    gap: 20px;
}

.logo{
    font-family: 'Montserrat Subrayada', sans-serif;
}

.logo span{
    font-size: 26px;
    color:#F15B22;
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #444343;
    font-weight: 800;
}

.nav-link:hover{
    color: #F15B22;
}


/* Banner Style */
.banner{
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner-container{
    text-align: right;
    width: 35%;
    margin-right: 250px;
}

.banner-title{
    font-size: 80px;
    font-weight: 800;
    text-align: right;
    margin-bottom: 30px;
    color: #151414;
}

.banner-discription{
    font-size: 18px;
    color: #444343;
    margin-bottom: 30px;
}

.banner-btn{
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
}

/* Previous Failure Section Style */

.prev-failer-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 90px 160px 90px 200px;
}
.prev-content{
    width: 30%;
    margin: auto;
}

.prev-title{
    font-size: 48px;
    margin-bottom: 26px;
    font-weight: 900;
    color: #151414;
}

.prev-discription{
    font-size: 19px;
    margin-bottom: 26px;
    color: #4d4b4b;
}
.prev-list{
    list-style: none;
    list-style-image: url('../images/icons/tick.png');
    padding-left: 20px;
    font-size: 19px;
    color: #4d4b4b;
}

.prev-list li{
    padding: 10px 0;
}
/* Plans Section Style */

.plan-secton{
    margin: 60px 40px;
}
.plan-title{
    text-align: center;
    font-size: 48px;
    color: #151414;
    margin-bottom: 60px;
    font-weight: 800;
}

.plans-container{
    display: flex;
    justify-content: space-around;
}
.plan{
    text-align: center;
}

.plan-heading{
    font-size: 32px;
    font-weight: 600;
    color: #151414;
    padding: 10px;
}

.plan-sub-heading{
    font-size: 17px;
    color: #4d4b4b;
    font-weight: 600;
    padding: 10px;
}