*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/* Navbar Style */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 77px 20px 77px ;
    background-color: #EEEEEE;
    border-bottom: 1px solid #F15B22;
}

.nav-container{
    display: flex;
    gap: 20px;
}

.logo{
    font-family: 'Montserrat Subrayada', sans-serif;
    cursor: pointer;
}

.logo span{
    font-size: 26px;
    color:#F15B22;
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #444343;
    font-weight: 800;
}

.nav-link:hover{
    color: #F15B22;
}


/* Banner Style */
.banner{
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner-container{
    text-align: right;
    width: 35%;
    margin-right: 250px;
}

.banner-title{
    font-size: 80px;
    font-weight: 800;
    text-align: right;
    margin-bottom: 30px;
    color: #151414;
}

.banner-discription{
    font-size: 18px;
    color: #444343;
    margin-bottom: 30px;
}

.banner-btn{
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(241, 91, 34);
    color: #FFFFFF;
}

/* Previous Failure Section Style */

.prev-failer-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 90px 160px 90px 200px;
}
.prev-content{
    width: 30%;
    margin: auto;
}

.prev-title{
    font-size: 48px;
    margin-bottom: 26px;
    font-weight: 900;
    color: #151414;
}

.prev-discription{
    font-size: 19px;
    margin-bottom: 26px;
    color: #4d4b4b;
}
.prev-list{
    list-style: none;
    list-style-image: url('../images/icons/tick.png');
    padding-left: 20px;
    font-size: 19px;
    color: #4d4b4b;
}

.prev-list li{
    padding: 10px 0;
}
/* Plans Section Style */

.plan-secton{
    width: 70%;
    margin: 120px auto;
}
.plan-title{
    text-align: center;
    font-size: 48px;
    color: #151414;
    margin-bottom: 60px;
    font-weight: 800;
}

.plans-container{
    display: flex;
    justify-content: space-around;
}
.plan{
    text-align: center;
}

.plan-heading{
    font-size: 32px;
    font-weight: 600;
    color: #151414;
    padding: 10px;
}

.plan-sub-heading{
    font-size: 17px;
    color: #4d4b4b;
    font-weight: 600;
    padding: 10px;
}
/* Motivation Sction */
.motivation{
    margin-bottom: 100px;
}
.content{
    width: 60%;
    padding: 60px 0;
    margin: auto;
    background-image: linear-gradient(to right, rgba(241, 91, 34,1), rgba(255,100,0,0)),url('../images/watch.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.heading{
    
    font-size: 48px;
    color: white;
    width: 50%;
    margin-left: 60px;
}

/* call button style */
.call-now-btn{
    padding: 20px 30px;
    color: #F15B22;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px 0 0 60px;
    cursor: pointer;
}
/* Footer Style */
.footer-container{
    background-color: #151414;
    display: flex;
    color: white;
    margin: auto;
}

.footer-content{
    margin:5% 5% 5% 20%;
}



.footer-heading{
    font-size: 48px;
    margin: 20px 0px;
}
.footer-description{
    width: 70%;
    font-size: 16px;
    margin-bottom: 20px;
}
/* social links style */
.social-link img{
    margin-top: 18px;
    padding-right: 12px;
}

/* Subscribe section style */
.subscribe{
    margin:6% 20% 5% 5% ;
}
.subscribe-heading{
    font-size: 30px;
    margin: 20px 0px;
}

.subscribe-form input{
    border: 1px solid white;
    outline: none;
    padding: 20px 30px;
    width: 280px;
    background-color: #151414;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.subscribe-btn{
    padding: 20px 30px;
    color: #F15B22;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}